.contain{
    width:50%;
    margin:10% auto;
    text-align:center;
    /* background-color:red; */
  }
  .btn-secondary{
    border:none!important;
  }
  .btn {

border-radius: 0px!important;
}
  .red{
    width:60%;
border-radius:none!important;
background-color:#DB3236;
border-color:none;
margin:2%;
padding:1% 10% 1% 5%;
  }
  .blue{
    width:60%;
    border-radius:none!important;
    border-color:none;
background-color:#3B5998;
margin:2%;
padding:1% 10% 1% 5%;
  }
  .nearblue{
    width:60%;
    border-radius:none!important;
    border-color:none;
background-color:#38A1F3;
margin:2%;
padding:1% 10% 1% 5%;
  }
  .log-in{
    border-bottom:4px solid #99CA49;
    width:10%;
    margin:3% auto;
    font-size:18px;
    font-weight:bold;
    
  }
  .spacer-red{
    margin-right:30%;
    font-size:18px;
    color:white;
 
  }
  .spacer-nearblue{
    margin-right:30%;
    font-size:18px;
    color:white;

  }
  .spacer-blue{
    margin-right:30%;
    font-size:18px;
    color:white;
    
  }


  
  @media only screen and (max-width: 600px) {
    .contain{
        width:80%!important;
  margin:20% auto!important;
  /* background-color:red; */
  padding:0!important;
  text-align:center!important;
}
.text-center {
text-align: center!important;
}
.red{
  width:70%!important;
border-radius:none!important;
background-color:#DB3236;
border-color:none;
margin:2%;
padding:2% 10% 2% 5%!important;
}
.blue{
  width:70%!important;
  border-radius:none!important;
  border-color:none;
background-color:#3B5998;
margin:2%;
padding:2% 10% 2% 5%!important;
}
.nearblue{
  width:70%!important;
  border-radius:none!important;
  border-color:none;
background-color:#38A1F3;
margin:2%;
padding:2% 6% 2% 5%!important;
}
.log-in{
    border-bottom:4px solid #99CA49;
    width:30%!important;
    margin:5% auto!important;
    font-size:18px;
    font-weight:bold;
    
  }
  .spacer-red{
    margin-right:50%;
    font-size:18px;
    color:white;
 
  }
  .spacer-nearblue{
    margin-right:40%;
    font-size:18px;
    color:white;

  }
  .spacer-blue{
    margin-right:50%;
    font-size:18px;
    color:white;
  }
}